<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to 'Generate PDF', generate_pdf_path, method: :post %>
  </body>
</html>
