tmp/
coverage/
/log/test.log
/log/development.log
# Ignore application configuration
/config/application.yml
public/uploads/user/avatar/3/thumb_shrek.jpg
.DS_Store
public/.DS_Store
public/uploads/.DS_Store
public/uploads/artwork/.DS_Store
public/uploads/artwork/image/.DS_Store
public/uploads/artwork/image/1/shrek.jpg
public/uploads/artwork/image/1/thumb_shrek.jpg
public/uploads/artwork/image/2/Office_21.png
public/uploads/artwork/image/2/shrek.jpg
public/uploads/artwork/image/2/thumb_Office_21.png
public/uploads/artwork/image/2/thumb_shrek.jpg
public/uploads/artwork/image/3/shrek.jpg
public/uploads/artwork/image/3/thumb_shrek.jpg
public/uploads/artwork/image/4/Screenshot_2019-02-07_at_12.50.09.png
public/uploads/artwork/image/4/shrek.jpg
public/uploads/artwork/image/4/thumb_Screenshot_2019-02-07_at_12.50.09.png
public/uploads/artwork/image/4/thumb_shrek.jpg
public/uploads/artwork/image/5/Screenshot_2019-02-07_at_12.50.09.png
public/uploads/artwork/image/5/shrek.jpg
public/uploads/artwork/image/5/thumb_Screenshot_2019-02-07_at_12.50.09.png
public/uploads/artwork/image/5/thumb_shrek.jpg
public/uploads/artwork/image/6/Screenshot_2019-02-07_at_12.50.09.png
public/uploads/artwork/image/6/shrek.jpg
public/uploads/artwork/image/6/thumb_Screenshot_2019-02-07_at_12.50.09.png
public/uploads/artwork/image/6/thumb_shrek.jpg
public/uploads/artwork/image/7/shrek.jpg
public/uploads/artwork/image/7/thumb_shrek.jpg
public/uploads/user/avatar/1/card_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/1/dc-headshot-photographer-68.JPG
public/uploads/user/avatar/1/full_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/1/profile_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/1/thumb_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/3/card_shrek.jpg
public/uploads/user/avatar/3/full_shrek.jpg
public/uploads/user/avatar/3/profile_shrek.jpg
public/uploads/user/avatar/3/shrek.jpg
public/uploads/user/avatar/5/card_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/5/dc-headshot-photographer-68.JPG
public/uploads/user/avatar/5/full_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/5/profile_dc-headshot-photographer-68.JPG
public/uploads/user/avatar/5/thumb_dc-headshot-photographer-68.JPG
guy2019-03-02 22:29:24 +0000.pdf
guy2019-03-02 22:29:28 +0000.pdf
log/development.log
log/development.log
guy2019-03-03 01:10:30 +0000.pdf
guy2019-03-03 01:08:07 +0000.pdf
guy2019-03-03 01:03:38 +0000.pdf
