<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A message from artventory.io</h1>
    <p>
      Hi, <%= @user.username %>
      Please see attached your new portfolio.
    </p>

    <p>Thanks for using artventory.io, have a great day!</p>
  </body>
</html>