<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Artventory</title>
	</head>
	<body>
		<h1>Artventory V0.0.0.0.0.1a</h1>

		<%= link_to artworks_new_path do %>
			<h2>New Artwork</h2>
		<% end %>



	  <p>Database entries go here:</h1>
	  <% @artworks.each do |artwork| %>
	    </br>
	    <div >
	        <%= artwork.title %>
	    </div>
	    <div >
	      <%= artwork.price %>
	    </div>
      <%= link_to artworks_edit_path(artwork) do %>
  			<h2>Update Artwork</h2>
  		<% end %>
	  <% end %>
	</body>
</html>
