<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Artventory Hompage</title>
	</head>
	<body>
		<% if current_user.avatar.url %>
			<div class="profile-pic-img">
				<%= image_tag current_user.avatar.url %>
			</div>
		<% end %>
	</body>
</html>