@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Open Sans';

}

.box-input {
    border-radius: 25px;
    border: 2px solid rgb(129, 124, 124);
    width: 200px;
    height: 30px;    
}

.field-input {
    float: center;
    text-align: center;
}

.field-label {
    font-family: 'Open Sans';
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 0;
    float: left;
}

.form-fields {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.field {
    padding: 15px;
}

#remember-me {
    text-align: center;
    text-transform: capitalize;
}